<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="buildArtifacts" value="../../artifacts/" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="Microsoft.*" />
			<package pattern="System.*" />
			<package pattern="xunit*" />
		</packageSource>
		<packageSource key="buildArtifacts">
			<package pattern="libplctag.NativeImport" />
		</packageSource>
	</packageSourceMapping>
</configuration>