name: Update libplctag core

on:

  workflow_dispatch:
    inputs:
      libplctag_version:
        required: true
        description: Version of libplctag core to download (e.g. 2.5.0)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Pull in latest libplctag core binaries into repository
        run: ./build.sh UpdateNativeFiles --native-file-version ${{ github.event.inputs.libplctag_version }}
        
